  /* 
  Este modelo é compartilhável, modificável e está comentado por Roberto Nóbrega (http://github.com/devrenj)
  Caso queira aprender sobre estilização em CSS, acesse: https://www.cursoemvideo.com/curso/html5/  
  */

  /* Design Responsivo do HTML (para que apareça corretamente em navegadores mobile) */
/*  html {
    height: 100%;
}
*/

body{
  /* Using FreePik.com images */
  /* Dentro de URL, mude o link entre 'aspas' para mudar a foto de fundo da página */
  /* Observação: Se desejar usar cor solida, remova 'background-image:' e utilize 'background-color:' */
  background-image: url('https://images.unsplash.com/photo-1530293959042-0aac487c21e3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMDE4ODN8MHwxfHNlYXJjaHw2NjZ8fGJsdWUlMjB5ZWxsb3clMjBhY3J5bGljfGVufDB8fHx8MTY4NjU4MjY5MXww&ixlib=rb-4.0.3&q=80&w=1080');
  /* Images taken from Unsplash.com */
  
  /* Design Responsivo do background (para que apareça corretamente em navegadores mobile) */
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  margin: 0;
}

  /* Atributos que estilizam as classes definidas nos elementos HTML */
    /* início */
.foto img { 

  display: flex;
  align-items: center;

  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  
  
  margin-top: 25px;
  border: 2px solid lightblue;
  border-radius: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.textoFormatado {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto, Arial, Helvetica, sans-serif;
  color: black;
}

.backgroundRedesSociais{
  width: 100%;
  background-color: rgba(55, 242, 255, 0.185);
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.redesSociais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espaco {
  padding: 3%;
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.conteiner {
  margin: 1vh;
}

.conteiner img {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 100%;
  margin: auto;
  padding: 1vh;
  width: 8vh;
  height: 8vh;
}

    /* fim */

  /*  Using Dextronet.com button models and codes */
    /* Botão verde */
.btn {
  height: 30px;
  width: 200px;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: none;
  text-decoration: none;
  line-height: 1.1;
  font-weight:  normal;
  font-family: roboto, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 10px;
  background-color: #6DB000;
  background-image: -webkit-linear-gradient(top, #70b500 0%, #81c316 48%, #6DB000 49%, #6DB000 82%, #7ecc00 100%);
  background-image: -moz-linear-gradient(top, #70b500 0%, #81c316 48%, #6DB000 49%, #6DB000 82%, #7ecc00 100%);
  background-image: -o-linear-gradient(top, #70b500 0%, #81c316 48%, #6DB000 49%, #6DB000 82%, #7ecc00 100%);
  background-image: linear-gradient(top, #70b500 0%, #81c316 48%, #6DB000 49%, #6DB000 82%, #7ecc00 100%);
  border-color: hsl(83, 45%, 35%);
  -webkit-box-shadow: inset 0 0 1px 1px #8de300, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #8de300, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #8de300, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #2e4a00;
  -moz-text-shadow: 1px 1px 1px #2e4a00;
  -o-text-shadow: 1px 1px 1px #2e4a00;
  text-shadow: 1px 1px 1px #2e4a00;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  padding: 18px 45px 18px 45px;
}

.btn strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #76bf00;
  background-image: -webkit-linear-gradient(top, #79c400 0%, #8ad117 48%, #76bf00 49%, #76bf00 82%, #87db00 100%);
  background-image: -moz-linear-gradient(top, #79c400 0%, #8ad117 48%, #76bf00 49%, #76bf00 82%, #87db00 100%);
  background-image: -o-linear-gradient(top, #79c400 0%, #8ad117 48%, #76bf00 49%, #76bf00 82%, #87db00 100%);
  background-image: linear-gradient(top, #79c400 0%, #8ad117 48%, #76bf00 49%, #76bf00 82%, #87db00 100%);
  border-color: hsl(83, 43%, 33%);
  -webkit-box-shadow: inset 0 0 1px 1px #9cfc00, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #9cfc00, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #9cfc00, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #375900;
  -moz-text-shadow: 1px 1px 1px #375900;
  -o-text-shadow: 1px 1px 1px #375900;
  text-shadow: 1px 1px 1px #375900;
}

.btn:active {
  color: #FFFFFF;
  background-color: #63a100;
  background-image: -webkit-linear-gradient(top, #5d9700 0%, #6DB000 100%);
  background-image: -moz-linear-gradient(top, #5d9700 0%, #6DB000 100%);
  background-image: -o-linear-gradient(top, #5d9700 0%, #6DB000 100%);
  background-image: linear-gradient(top, #5d9700 0%, #6DB000 100%);
  padding: 19px 45px 17px 45px;
}

    /* Botão azul */
.btn2 {
  height: 30px;
  width: 200px;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: none;
  text-decoration: none;
  line-height: 1.1;
  font-weight:  normal;
  font-family: roboto, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 10px;
  background-color: #006BCF;
  background-image: -webkit-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: -moz-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: -o-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  border-color: hsl(209, 40%, 41%);
  -webkit-box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #003669;
  -moz-text-shadow: 1px 1px 1px #003669;
  -o-text-shadow: 1px 1px 1px #003669;
  text-shadow: 1px 1px 1px #003669;
  border-radius: 21px;
  padding: 18px 45px 18px 45px;
}

.btn2 strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.btn2:hover {
  color: #FFFFFF;
  background-color: #0073de;
  background-image: -webkit-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: -moz-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: -o-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  border-color: hsl(209, 41%, 44%);
  -webkit-box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #003e78;
  -moz-text-shadow: 1px 1px 1px #003e78;
  -o-text-shadow: 1px 1px 1px #003e78;
  text-shadow: 1px 1px 1px #003e78;
}

.btn2:active {
  color: #FFFFFF;
  background-color: #0063c0;
  background-image: -webkit-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: -moz-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: -o-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: linear-gradient(top, #005eb6 0%, #006BCF 100%);
  padding: 19px 45px 17px 45px;
}
